*.csv
!code/cfsr_round4_indicators_dictionary.csv
*.xlsx
*.xlsm
*.docx
*.pdf
*.pptx
*.accdb
.Rproj.user/
.Rhistory
.RData
*.png
*.jpg
*.jpeg
*.bmp
*.log
*.tmp
*.bak
*.swp
*~
.DS_Store
Thumbs.db
*.sav
*.txt
*.html
*.axx
data/
code/old/
